<div class="error-message-container industry_font">
	<div class="error-message">
		<div>
			<p ng-if="home.categoriesLoadError" class="error_message_block"><span ng-bind="categoriesErrorMessage ? categoriesErrorMessage : graphQLErrorMessage"></span></p>
			<p ng-if="history.ordersLoadError || approver.ordersLoadError" class="error_message_block"><span ng-bind="ordersErrorMessage ? ordersErrorMessage : graphQLErrorMessage"></span></p>
			<p ng-if="category.itemsLoadError || itemDetail.itemDetailError" class="error_message_block"><span ng-bind="itemsErrorMessage ? itemsErrorMessage : graphQLErrorMessage"></span></p>
		</div>
	</div>
	<div class="error-message" ng-if="emptyContentError">
		<div>
			<p ng-if="home.emptyContentsMessage" class="error_message_block"><span translate="CATEGORIES_EMPTY_CONTENTS_MESSAGE"></span></p>
			<p ng-if="category.emptyContentsMessage" class="error_message_block"><span translate="ITEMS_EMPTY_CONTENTS_MESSAGE"></span></p>
			<p ng-if="history.emptyContentsMessage || approver.emptyContentsMessage" class="error_message_block"><span translate="ORDERS_EMPTY_CONTENTS_MESSAGE"></span></p>
		</div>
	</div>
</div>
