<div id="header-container">
    <div class="header-title industry_font">
        <a href="/"><span class="header_title_link" translate="PROJECT_NAME"></span></a>
    </div>
    <div class="header-menu">
        <nav>
            <ul ng-if="isShowOtherButtons">
                <li id="setting-button">
                    <a href="/demoAdmin" class="button-body full-fill-center" title="{{'HEADER_DEMO_ADMIN_TITLE'|translate}}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                </li>
                <li id="requisition-button">
                    <a href="/orders" class="button-body full-fill-center"  title="{{'HEADER_ORDER_TITLE'|translate}}">
                        <img class="button-img" ng-src="/{{industry}}/images/requisition.svg">
                    </a>
                    <div class="amount-container" ng-if="isPurchaser" ng-show="unreviewedNumByPRCH !== 0">
                        <span class="amount-number" ng-bind="unreviewedNumByPRCH"></span>
                    </div>
                </li>
                <li id="cart-button">
                    <div class="button-body full-fill-center" ng-click="switchBar()" ng-if="isShowRequisitionButton"
                         data-toggle="collapse" data-target="#requisition_bar" title="{{'HEADER_CART_TITLE'|translate}}">
                        <img class="button-img" ng-src="/{{industry}}/images/shopping_cart.svg">
                    </div>
                    <div class="amount-container" ng-if="isShowRequisitionButton" ng-show="totalAmount !== 0">
                        <span class="amount-number" ng-bind="totalAmount"></span>
                    </div>
                </li>
                <li id="username-button">
                    <div class="dropdown full-fill-center" ng-if="isShowAccount">
                        <div class="button-body industry_font dropdown-toggle full-fill-center" data-toggle="dropdown">
                            <div class="role-title industry_font">
                                <span translate="PURCHASER_TITLE" class="account_text text-center" ng-if="isPurchaser"></span>
                                <span translate="APPROVER_TITLE" class="account_text text-center" ng-if="isApprover"></span>
                            </div>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a>{{ username }}</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-item">
                                <a class="logout" href="/logout" translate="SIGN_OUT"></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="page-background-image"></div>
