<div id="top_side" ng-style="headerStyle">
	<div id="top_side_div"></div>
	<div id="title_text" class="industry_font">
		<a href="/"><span class="font_color2" translate="PROJECT_NAME"></span></a>
	</div>
	<div ng-if="isShowOtherButtons">
		<div id="to_demo_admin_button" class="common_industry">
			<a href="/demoAdmin"> 
				<span class="glyphicon glyphicon-cog font_color2 top_format" title="{{'HEADER_DEMO_ADMIN_TITLE'|translate}}"
					aria-hidden="true"></span>
			</a>
		</div>
		<div id="right_bar" class="common_industry top_format" ng-click="switchBar()" ng-if="isShowRequisitionButton"
			data-toggle="collapse" data-target="#right_navigation_bar" title="{{'HEADER_CART_TITLE'|translate}}">
			<img id="right_bar_img" class="common_div" ng-src="/{{industry}}/images/shopping_cart.svg">
		</div>
		<div id="requisition_amount" class="common_industry industry_font" ng-if="isShowRequisitionButton" ng-show="totalAmount !== 0">
			<img ng-src="/{{industry}}/images/requisition_amount.svg">
			<div class="amount_text common_text">
				<p><span ng-bind="totalAmount"></span></p>
			</div>
		</div>
		<div id="requisition_order" class="common_industry" title="{{'HEADER_ORDER_TITLE'|translate}}">
			<a href="/orders" class="top_format">
				<img id="requisition_order_img" ng-src="/{{industry}}/images/requisition.svg" class="common_div">
			</a>
		</div>
		<div id="requisition_order_amount" class="common_industry industry_font" ng-if="isPurchaser" ng-show="unreviewedNumByPRCH !== 0">
			<img ng-src="/{{industry}}/images/requisition_amount.svg">
			<div class="amount_text common_text">
				<p><span class="unreviewedNum" ng-bind="unreviewedNumByPRCH"></span></p>
			</div>
		</div>
		<!-- <div id="requisition_order_amount" class="common_industry industry_font" ng-if="isApprover" ng-show="unreviewedNumByAPV !== 0">
			<img ng-src="/{{industry}}/images/requisition_amount.svg">
			<div class="amount_text common_text">
				<p><span class="unreviewedNum" ng-bind="unreviewedNumByAPV"></span></p>
			</div>
		</div> -->
	</div>
	<div class="dropdown" ng-if="isShowAccount">
		<div id="account" class="common_industry industry_font font_color2" data-toggle="dropdown">
			<div class="common_text">
				<!--need to change here, take different role into account-->
				<p translate="PURCHASER_TITLE" class="account_text text-center" ng-if="isPurchaser"></p>
				<p translate="APPROVER_TITLE" class="account_text text-center" ng-if="isApprover"></p>
			</div>
		</div>
		<div class="dropdown-menu">
			<div id="dropdown_content"></div>
			<a class="dropdown-item logout" href="/logout" translate="SIGN_OUT"></a>
		</div>
	</div>
</div>

<div id="background">
	<div id="background_img"></div>
</div>
