<div calss="labels_group">
	<div class="section_container labels_in_header">
		<div class="section_title">
			<span translate="LABELS_IN_HEADER"></span>
		</div>
		<div class="section_body">
			<div class="form-group">
				<input type="hidden" name="labelPairs[PROJECT_NAME]" ng-value="demo.overridedLabels.labelPairs.PROJECT_NAME">
				<label for="PROJECT_NAME" class="labels_page_title_label">PROJECT_NAME</label>
				<div class="input-wrapper">
					<input type="text" id="PROJECT_NAME" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.PROJECT_NAME"
						   ng-value="demo.overridedLabels.labelPairs.PROJECT_NAME" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('PROJECT_NAME')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[PURCHASER_TITLE]" ng-value="demo.overridedLabels.labelPairs.PURCHASER_TITLE">
				<label for="PURCHASER_TITLE" class="labels_page_title_label">PURCHASER_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="PURCHASER_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.PURCHASER_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.PURCHASER_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('PURCHASER_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[APPROVER_TITLE]" ng-value="demo.overridedLabels.labelPairs.APPROVER_TITLE">
				<label for="APPROVER_TITLE" class="labels_page_title_label">APPROVER_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="APPROVER_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.APPROVER_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.APPROVER_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('APPROVER_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[HEADER_CART_TITLE]" ng-value="demo.overridedLabels.labelPairs.HEADER_CART_TITLE">
				<label for="HEADER_CART_TITLE" class="labels_page_title_label">HEADER_CART_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="HEADER_CART_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.HEADER_CART_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.HEADER_CART_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('HEADER_CART_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[HEADER_ORDER_TITLE]" ng-value="demo.overridedLabels.labelPairs.HEADER_ORDER_TITLE">
				<label for="HEADER_ORDER_TITLE" class="labels_page_title_label">HEADER_ORDER_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="HEADER_ORDER_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.HEADER_ORDER_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.HEADER_ORDER_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('HEADER_ORDER_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div calss="labels_group">
	<div class="section_container">
		<div class="section_title">
			<span translate="LABELS_IN_CART"></span>
		</div>
		<div class="section_body">
			<div class="form-group">
				<input type="hidden" name="labelPairs[CART_TITLE]" ng-value="demo.overridedLabels.labelPairs.CART_TITLE">
				<label for="CART_TITLE" class="labels_page_title_label">CART_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="CART_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.CART_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.CART_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('CART_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ASSETS_TO_DEPLOY]" ng-value="demo.overridedLabels.labelPairs.ASSETS_TO_DEPLOY">
				<label for="ASSETS_TO_DEPLOY" class="labels_page_title_label">ASSETS_TO_DEPLOY</label>
				<div class="input-wrapper">
					<input type="text" id="ASSETS_TO_DEPLOY" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ASSETS_TO_DEPLOY"
						   ng-value="demo.overridedLabels.labelPairs.ASSETS_TO_DEPLOY" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ASSETS_TO_DEPLOY')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ADD_TO_CART]" ng-value="demo.overridedLabels.labelPairs.ADD_TO_CART">
				<label for="ADD_TO_CART" class="labels_page_title_label">ADD_TO_CART</label>
				<div class="input-wrapper">
					<input type="text" id="ADD_TO_CART" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ADD_TO_CART"
						   ng-value="demo.overridedLabels.labelPairs.ADD_TO_CART" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ADD_TO_CART')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[IN_CART]" ng-value="demo.overridedLabels.labelPairs.IN_CART">
				<label for="IN_CART" class="labels_page_title_label">IN_CART</label>
				<div class="input-wrapper">
					<input type="text" id="IN_CART" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.IN_CART"
						   ng-value="demo.overridedLabels.labelPairs.IN_CART" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('IN_CART')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div calss="labels_group">
	<div class="section_container">
		<div class="section_title">
			<span translate="LABELS_IN_LOCATIONS"></span>
		</div>
		<div class="section_body">
			<div class="form-group">
				<input type="hidden" name="labelPairs[AVAILABILITY_LOCATIONS]" ng-value="demo.overridedLabels.labelPairs.AVAILABILITY_LOCATIONS">
				<label for="AVAILABILITY_LOCATIONS" class="labels_page_title_label">AVAILABILITY_LOCATIONS</label>
				<div class="input-wrapper">
					<input type="text" id="AVAILABILITY_LOCATIONS" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.AVAILABILITY_LOCATIONS"
						   ng-value="demo.overridedLabels.labelPairs.AVAILABILITY_LOCATIONS" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('AVAILABILITY_LOCATIONS')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group" ng-repeat="location in demo.regions">
				<input type="hidden" name="labelPairs[{{location}}]" ng-value="demo.overridedLabels.labelPairs[location]">
				<label for="{{location}}" class="labels_page_title_label">{{location}}</label>
				<div class="input-wrapper">
					<input type="text" id="{{location}}" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs[location]"
						   ng-value="demo.overridedLabels.labelPairs[location]" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel(location)" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div calss="labels_group">
	<div class="section_container">
		<div class="section_title">
			<span translate="LABELS_IN_ORDER_WIZARD"></span>
		</div>
		<div class="section_body">
			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER_REQUEST]" ng-value="demo.overridedLabels.labelPairs.ORDER_REQUEST">
				<label for="ORDER_REQUEST" class="labels_page_title_label">ORDER_REQUEST</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER_REQUEST" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER_REQUEST"
						   ng-value="demo.overridedLabels.labelPairs.ORDER_REQUEST" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER_REQUEST')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[DEPLOYMENT_STEP_IN_WIZARD]" ng-value="demo.overridedLabels.labelPairs.DEPLOYMENT_STEP_IN_WIZARD">
				<label for="DEPLOYMENT_STEP_IN_WIZARD" class="labels_page_title_label">DEPLOYMENT_STEP_IN_WIZARD</label>
				<div class="input-wrapper">
					<input type="text" id="DEPLOYMENT_STEP_IN_WIZARD" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.DEPLOYMENT_STEP_IN_WIZARD"
						   ng-value="demo.overridedLabels.labelPairs.DEPLOYMENT_STEP_IN_WIZARD" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('DEPLOYMENT_STEP_IN_WIZARD')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ASSIGNMENT_STEP_IN_WIZARD]" ng-value="demo.overridedLabels.labelPairs.ASSIGNMENT_STEP_IN_WIZARD">
				<label for="ASSIGNMENT_STEP_IN_WIZARD" class="labels_page_title_label">ASSIGNMENT_STEP_IN_WIZARD</label>
				<div class="input-wrapper">
					<input type="text" id="ASSIGNMENT_STEP_IN_WIZARD" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ASSIGNMENT_STEP_IN_WIZARD"
						   ng-value="demo.overridedLabels.labelPairs.ASSIGNMENT_STEP_IN_WIZARD" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ASSIGNMENT_STEP_IN_WIZARD')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[REVIEW_STEP_IN_WIZARD]" ng-value="demo.overridedLabels.labelPairs.REVIEW_STEP_IN_WIZARD">
				<label for="REVIEW_STEP_IN_WIZARD" class="labels_page_title_label">REVIEW_STEP_IN_WIZARD</label>
				<div class="input-wrapper">
					<input type="text" id="REVIEW_STEP_IN_WIZARD" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.REVIEW_STEP_IN_WIZARD"
						   ng-value="demo.overridedLabels.labelPairs.REVIEW_STEP_IN_WIZARD" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('REVIEW_STEP_IN_WIZARD')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ASSIGNMENT_BUTTON]" ng-value="demo.overridedLabels.labelPairs.ASSIGNMENT_BUTTON">
				<label for="ASSIGNMENT_BUTTON" class="labels_page_title_label">ASSIGNMENT_BUTTON</label>
				<div class="input-wrapper">
					<input type="text" id="ASSIGNMENT_BUTTON" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ASSIGNMENT_BUTTON"
						   ng-value="demo.overridedLabels.labelPairs.ASSIGNMENT_BUTTON" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ASSIGNMENT_BUTTON')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[DEPLOY_ASSETS_TO]" ng-value="demo.overridedLabels.labelPairs.DEPLOY_ASSETS_TO">
				<label for="DEPLOY_ASSETS_TO" class="labels_page_title_label">DEPLOY_ASSETS_TO</label>
				<div class="input-wrapper">
					<input type="text" id="DEPLOY_ASSETS_TO" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.DEPLOY_ASSETS_TO"
						   ng-value="demo.overridedLabels.labelPairs.DEPLOY_ASSETS_TO" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('DEPLOY_ASSETS_TO')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[LOCATION_OPTIONS]" ng-value="demo.overridedLabels.labelPairs.LOCATION_OPTIONS">
				<label for="LOCATION_OPTIONS" class="labels_page_title_label">LOCATION_OPTIONS</label>
				<div class="input-wrapper">
					<input type="text" id="LOCATION_OPTIONS" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.LOCATION_OPTIONS"
						   ng-value="demo.overridedLabels.labelPairs.LOCATION_OPTIONS" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('LOCATION_OPTIONS')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[RECEIVER_NAME]" ng-value="demo.overridedLabels.labelPairs.RECEIVER_NAME">
				<label for="RECEIVER_NAME" class="labels_page_title_label">RECEIVER_NAME</label>
				<div class="input-wrapper">
					<input type="text" id="RECEIVER_NAME" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.RECEIVER_NAME"
						   ng-value="demo.overridedLabels.labelPairs.RECEIVER_NAME" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('RECEIVER_NAME')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[GPS_COORDINATES]" ng-value="demo.overridedLabels.labelPairs.GPS_COORDINATES">
				<label for="GPS_COORDINATES" class="labels_page_title_label">GPS_COORDINATES</label>
				<div class="input-wrapper">
					<input type="text" id="GPS_COORDINATES" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.GPS_COORDINATES"
						   ng-value="demo.overridedLabels.labelPairs.GPS_COORDINATES" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('GPS_COORDINATES')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[INVOICE_NUMBER]" ng-value="demo.overridedLabels.labelPairs.INVOICE_NUMBER">
				<label for="INVOICE_NUMBER" class="labels_page_title_label">INVOICE_NUMBER</label>
				<div class="input-wrapper">
					<input type="text" id="INVOICE_NUMBER" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.INVOICE_NUMBER"
						   ng-value="demo.overridedLabels.labelPairs.INVOICE_NUMBER" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('INVOICE_NUMBER')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[UNIQUE_NUMBER]" ng-value="demo.overridedLabels.labelPairs.UNIQUE_NUMBER">
				<label for="UNIQUE_NUMBER" class="labels_page_title_label">UNIQUE_NUMBER</label>
				<div class="input-wrapper">
					<input type="text" id="UNIQUE_NUMBER" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.UNIQUE_NUMBER"
						   ng-value="demo.overridedLabels.labelPairs.UNIQUE_NUMBER" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('UNIQUE_NUMBER')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER]" ng-value="demo.overridedLabels.labelPairs.ORDER">
				<label for="ORDER" class="labels_page_title_label">ORDER</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER"
						   ng-value="demo.overridedLabels.labelPairs.ORDER" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div calss="labels_group">
	<div class="section_container">
		<div class="section_title">
			<span translate="LABELS_IN_ORDER"></span>
		</div>
		<div class="section_body">
			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER_NUMBER]" ng-value="demo.overridedLabels.labelPairs.ORDER_NUMBER">
				<label for="ORDER_NUMBER" class="labels_page_title_label">ORDER_NUMBER</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER_NUMBER" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER_NUMBER"
						   ng-value="demo.overridedLabels.labelPairs.ORDER_NUMBER" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER_NUMBER')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER_DETAIL_HEADER]" ng-value="demo.overridedLabels.labelPairs.ORDER_DETAIL_HEADER">
				<label for="ORDER_DETAIL_HEADER" class="labels_page_title_label">ORDER_DETAIL_HEADER</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER_DETAIL_HEADER" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER_DETAIL_HEADER"
						   ng-value="demo.overridedLabels.labelPairs.ORDER_DETAIL_HEADER" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER_DETAIL_HEADER')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>

			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER_PAGE_TITLE]" ng-value="demo.overridedLabels.labelPairs.ORDER_PAGE_TITLE">
				<label for="ORDER_PAGE_TITLE" class="labels_page_title_label">ORDER_PAGE_TITLE</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER_PAGE_TITLE" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER_PAGE_TITLE"
						   ng-value="demo.overridedLabels.labelPairs.ORDER_PAGE_TITLE" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER_PAGE_TITLE')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<input type="hidden" name="labelPairs[ORDER_REQUESTS]" ng-value="demo.overridedLabels.labelPairs.ORDER_REQUESTS">
				<label for="ORDER_DETAIL_HEADER" class="labels_page_title_label">ORDER_REQUESTS</label>
				<div class="input-wrapper">
					<input type="text" id="ORDER_REQUESTS" class="form-control labelsOverride_input"
						   ng-model="demo.overridedLabels.labelPairs.ORDER_REQUESTS"
						   ng-value="demo.overridedLabels.labelPairs.ORDER_REQUESTS" ng-disabled="!demo.useLabelsOverrided"/>
					<button class="btn btn-default industry_button function_btn labels_reset_btn"
							ng-click="demo.resetLabel('ORDER_REQUESTS')" ng-disabled="!demo.useLabelsOverrided">
						<span translate="RESET_URL"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

