.industry_text_color {
    color: #e7ffa178;
}

#asset_type, #availability_region_title, .regions, .assets_category_description, #requisition_detail_title,
#requisition_detail_description, #requisition_detail_available, #add_to_requisition_btn {
    color: #C2EAFB;
}

regions, .breadcrumb>li+li:before {
    color: #E7FFA1;
}

#search_text, #confirm_button > button {
    color: #20200A;
}

#item_filter_content {
    color: #2F2F16;
}

#add_to_requisition_btn {
    border-color: rgba(182, 221, 238, 1);
    font-size: 11px;
}

.requisition_detail_stock_button > button {
    color: #fff;
}

#requisition_detail_input > input {
    border-color: rgba(51, 51, 51, 1);
    background-color: #fff;
}
#requisition_detail_box {
    background-color: rgba(51, 51, 51, 1);
    border-color: rgba(182, 221, 238, 1);
    border-width: 1px;
}

.requisition_detail_stock_button > button, #confirm_button > button {
    border-color: rgba(121, 73, 0, 1);
}

input:checked::before {
    border-color: #ccc;
}

input:checked::after {
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
}

.sp-3balls, .sp-3balls:before, .sp-3balls:after {
    background-color: #C2EAFB;
}

.requisition_detail_overlay_img{
    background-image: url(/aerospace/images/requisition_dark_overlay.svg);
}

.assets_category_overlay_img {
    background-image: url(/aerospace/images/category_dark_overlay.svg)
}

#availability_region_box {
    align-items: flex-start;
    background-image: url(/aerospace/images/region_box.svg);
    width: 264px;
    height: 318px;
    padding-left: 15px;
    padding-top: 15px;
}

.assets_category_title {
    font-size: 20px;
}

#add_to_requisition_btn, .requisition_detail_stock_button > button, #search_text_input, #item_filter,
#requisition_detail_input > input, #confirm_button > button {
    border-radius: 20px;
}

#add_to_requisition_btn, #add_to_requisition_btn:hover {
    background-color: rgba(122, 141, 149, 1);
}

.requisition_detail_stock_button > button, #confirm_button > button, .requisition_detail_stock_button > button:hover,
#confirm_button > button:hover{
    background-color: rgba(204, 136, 55, 1)
}

#item_filter, .assets_category_description, .item_description, #requisition_detail_available,
.requisition_detail_stock_button > button {
    font-family: 'Ubuntu-Regular', 'Ubuntu', sans-serif;
}

#asset_type {
    margin-left: 34px;
}

#item_filter {
    padding: 6px 6px 6px 10px;
}

#requisition_detail_title {
    width: 243px;
}
.requisition_dark_overlay {
	background-image: url(/aerospace/images/requisition_dark_overlay.svg);
}

#search_button {
    margin-top: -37px;
}

.assets_category_title a span {
    font-size: 20px;
}

.assets_category_description {
    -webkit-line-clamp: 5;
    margin-bottom: 5px;
}

.assets_category_description, .item_description {
    font-size: 12px;
}

.assets_category_img > img {
    height: 133px;
}

.assets_category_box_img {
    padding: 15px;
    height: 318px;
}

.regions {
    font-size: 15px;
    font-family: 'Ubuntu';
}

#availability_region {
    margin-top: 13px;
}

.locations_error_message {
    width: 240px;
}

#requisition_detail_input > input {
    width: 107px;
}

#confirm_button > button {
    width: 195px;
}

.region_label, .assets_category_description, .requisition_detail_stock_button > button {
    font-weight: 700;
}