body {
    background-color: rgba(0, 0, 0, 1);
}

.industry_color_1 {
    color: #E7FFA1;
}

.industry_color_2 {
    color: #C2EAFB;
}

.industry_font {
	font-family: 'Orbitron-Bold', 'Orbitron Bold', 'Orbitron', sans-serif;
}

@font-face {
    font-family: 'Orbitron Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron Bold'), local('Orbitron-Bold'),
        url(https://fonts.gstatic.com/s/orbitron/v11/yMJWMIlzdpvBhQQL_QIAUjh2qtU.ttf)
        format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf)
        format('truetype');
}

.page-content-section  {
    background-image: url(/aerospace/images/background.svg);
    background-repeat: no-repeat;
}

#header-container {
    background: linear-gradient(180deg, rgba(3, 57, 81, 1) 14%, rgba(0, 0, 0, 1) 100%);
}

.header-title a {
    color: #C2EAFB;
    font-weight: 800;
    font-size: 36px;
}

#setting-button a, .role-title {
    color: #C2EAFB;
}

#username-button .dropdown-menu {
    background-color: rgba(3, 57, 81, 1);
}

#username-button .dropdown-item a {
    color: #C2EAFB;
}

#username-button .dropdown-item a:hover {
    background-color: rgba(3, 57, 81, 1);
}

#footer {
    background: linear-gradient(0deg, rgba(51, 32, 10, 1) 47%, rgba(0, 0, 0, 1) 100%);
    color: #C2EAFB;
}

.asset_summary_box {
    background-image: url(/aerospace/images/category_box.svg);
}

.asset_summary_img_container {
    height: 133px;
    padding: 1px;
}

.asset_summary_img {
    width: 233px;
    height: 131px;
}

.asset_summary_description {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    height: 70px;
    margin-bottom: 32px;
}

#requisition_bar {
    background-color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(182, 221, 238, 1);
}

#requisition_submit_button {
    background-color: rgba(204, 136, 55, 1);
    border-radius: 20px;
    font-weight: 700;
    color: #20200A;
}

#assets_to_deploy {
    font-family: 'Ubuntu-Regular', 'Ubuntu', sans-serif;
}

.requisition_item_title a:hover{
    color: #E7FFA1;
}

.requisition_item_number_input {
    border-color: rgba(182, 221, 238, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.requisition_buttons button {
    background-color: rgba(204, 136, 55, 1);
    border-radius: 20px;
    font-family: 'Orbitron-Bold', 'Orbitron Bold', 'Orbitron', sans-serif;
    font-weight: 700;
    color: #fff;
    border-width: 0;
}

.requisition_remove a:hover{
    color: #E7FFA1
}