#support_docs_box {
    background-image: url(/aerospace/images/region_box.svg);
}

#return_to_home_link:hover, .support_link:hover,  nav-tab-header:hover {
	color: #E7FFA1;
}

.nav-tabs {
    border-bottom: 1px solid #90acb9;
}

.nav-tabs>li {
    border: 1px solid #90acb9;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgba(3, 57, 81, 1);
    color: #C2EAFB;
}

.input-wrapper .form-control {
    border: 1px solid #333;
    border-radius: 20px;
}

.input-wrapper button, .operation_button {
	background-color: rgba(122, 141, 149, 1);
    border-color: rgba(182, 221, 238, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(0 0 0);
    color: #C2EAFB;
}

.save_button {
    background-color: rgba(204, 136, 55, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(0 0 0);
	color: #333333;
}

.table .table_title {
    background: #c2eafb45;
}
