body {
	color: #C2EAFB;
}

.header-section {
	width: 1200px;
}

.page-content-section {
	min-height: 540px;
	display: flex;
	align-items: center;
	width: 1200px;
}

.page-content-section div {
	text-align: center;
}

footer {
	width: 1200px;
}

#footer {
	margin: 0px;
}

.login-form-container {
	background-image: url(/aerospace/images/login_border.svg);
	padding-top: 4px;
}

.self-format {
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(182, 221, 238, 1);
	border-radius: 16px;
	box-shadow: none;
	font-family: 'Orbitron-Bold', 'Orbitron Bold', 'Orbitron', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #20200A;
}

.submit-button {
	width: 120px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	color: #333333;
}

.submit-button>button {
	width: 120px;
	height: 40px;
	background-color: rgba(204, 136, 55, 1);
	border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-weight: 700;
	font-size: 16px;
	color: #333333;
}

.forgot-password a, .forgot-password a:hover {
	color: #E7FFA1;
}

.input-field>input {
	color: #20200A;
}

.input-label>span {
	padding-left: 10px;
}

.password-field {
	font-size: 25px;
}

.modal-content {
	background: #333;
	border: 1px solid;
}

.table-header {
	background-color: #596469;
}

#forgotPasswordModal .dismiss-btn{
	border-radius: 20px;
}