.login-form-container {
    padding-top: 4px;
    border: 1px solid #C2EAFB;
    border-radius: 15px;
    background: linear-gradient(#3D3D3D, #444444, #434343, #393939, #2E2E2E);
}

.submit-button>button {
    background-color: rgba(204, 136, 55, 1);
    border-radius: 20px;
    font-weight: 700;
    color: #333333;
}

.forgot-password a, .forgot-password a:hover {
    color: #E7FFA1;
}

.input-field>input {
    color: #20200A;
}

.submit-button {
    font-weight: 700;
    color: #333333;
}

.input-label>span {
    padding-left: 10px;
}

.sign-in-with-oauth, .more-sign-in-title, .sign-in-with-oauth.btn:hover {
    color: #C2EAFB;
}

.more-sign-in-title {
    background-color: #373737;
}

.sign-in-with-oauth {
    border-radius: 20px;
    background-color: rgba(122, 141, 149, 1);
    border-color: rgba(182, 221, 238, 1);
    font-weight: 700;
}

.modal-content {
    background: #333;
    border: 1px solid;
}

.table-header {
    background-color: #596469;
}

#forgot-password-modal .dismiss-btn{
    border-radius: 20px;
}

.self-format {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(182, 221, 238, 1);
    border-radius: 16px;
    box-shadow: none;
    font-family: 'Orbitron-Bold', 'Orbitron Bold', 'Orbitron', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #20200A;
}

.password-field {
    font-size: 25px;
}

hr {
    border-color: #C2EAFB;
}