#req_title {
	left: 30px;
	top: 158px;
	width: 80%;
	height: 55px;
	font-size: 36px;
	font-weight: 800;
	color: #C2EAFB;
}

.table {
	left: 156px;
	top: 238px;
	width: 870px;
	text-align: center;
	font-family: 'Ubuntu-Bold', 'Ubuntu Bold', 'Ubuntu', sans-serif;
	color: #C2EAFB;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th {
	border-color: #c2eafb45;
	text-align: center;
}

.table-bordered>tbody>tr>th>a {
	text-decoration: underline;
	cursor: pointer;
}

.status {
	width: 135px;
}

.requisition_number {
	width: 153px;
}

.submission_date {
	width: 143px;
}

.approver_reply_date {
	width: 158px;
}

.assets {
	width: 280px;
}

#cross_btn {
    left: 940px;
    top: 20px;
    width: 14px;
    height: 22px;
    display: flex;
    font-weight: 700;
	cursor: pointer;
	z-index: 2;
}

.order_detail {
	z-index: 1002;
	left: 50%;
	position: absolute;
	margin-left: -492px;
	top: 0;
	margin-top: 85px;
	width: 983px;
	height: 598px;
	color: #C2EAFB;
}

#order_detail_box {
	width: 983px;
	height: 598px;
	left: 0px;
	top: 0px;
}

#order_detail_box>img {
	left: -4px;
	top: -4px;
	width: 991px;
	height: 617px;
}

#order_detail_title {
	top: 20px;
	width: 948px;
	height: 25px;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
}

.requested_assets {
	left: 31px;
    top: 75px;
    width: 270px;
    height: 23px;
    font-size: 20px;
}

#order_items {
	left: 36px;
    top: 125px;
    width: 465px;
    height: 168px;
    overflow-y: scroll;
}

#order_detail_map {
	left: 560px;
    top: 92px;
    width: 361px;
    height: 361px;
}

#order_detail_map>img {
	width: 100%;
    height: 100%;
    border: 2px solid #b6ddee;
    border-radius: 14px;
}

#order_rejected_reason {
	left: 560px;
    top: 460px;
    width: 361px;
    height: 23px;
    font-size: 16px;
}

#order_rejected_reason_content {
	top: 30px;
    width: 361px;
    height: 36px;
    display: block;
    overflow-y: scroll;
    white-space:normal;
    word-break:break-word;
}

/*Define the scroll-bar style*/
#order_rejected_reason_content::-webkit-scrollbar {
    width: 3px;
}

/*Define the scroll-bar's track style*/
#order_rejected_reason_content::-webkit-scrollbar-track {
    border-radius: 3px;
}

/*Define the scroll-bar's slider style*/
#order_rejected_reason_content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px;
    background-color: #C2EAFB;
}

#order_detail_assigned_campaign_summary {
	left: 36px;
    top: 295px;
    display: block;
    position: relative;
}

#order_detail_region_summary {
	left: 36px;
    top: 300px;
    position: relative;
    display: block;
    width: 520px;
}

.order_detail_summary_title_and_content {
    width: 500px;
    margin-bottom: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

#close_btn {
    left: 417px;
    top: 555px;
    width: 150px;
    height: 40px;
    font-weight: 800;
    color: #4F3000;
}

#close_btn>button {
    width: 150px;
    height: 40px;
    background-color: rgba(204, 136, 55, 1);
    font-size: 13px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 700;
    color: #20200A;
}

.order_content {
	background: #333;
}

.order_title {
	background: #45494C;
	
}

.orderDetailShadow {
	position: fixed;
    left: 0px;
    top: 0px;
    width: 10000px;
    height: 10000px;
    background-color: rgb(0, 0, 0);
    opacity: 0.607843;
    z-index: 1001;
}

/*Define the scroll-bar style*/
#order_items::-webkit-scrollbar {
    width: 3px;
}

/*Define the scroll-bar's track style*/
#order_items::-webkit-scrollbar-track {
    border-radius: 3px;
}

/*Define the scroll-bar's slider style*/
#order_items::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px;
    background-color: #C2EAFB;
}

.new_label {
    width: 37px;
    height: 23px;
	background-color: rgba(204, 136, 55, 1);
    border: none;
    border-radius: 12px;
    box-shadow: none;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: -20px;
    top: -2px;
    display: inline-block;
    padding-top: 4px;
}

.assets_content {
	width: 250px;
	height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.quantity {
	font-weight: 800;
}

.ellipsis {
	position: relative;
    left: -15px;
    font-weight: 800;
}

.order_status {
	position: relative;
    left: -20px;
}

a:hover {
	color: #E7FFA1;
}

.order_item_title {
	width: 234px;
    left: 125px;
}

.order_item_description {
	left: 125px;
    width: 260px;
    font-size: 12px;
     top: 28px;
}

.order_item_description>div>p>span {
	word-break: break-word;
}

.order_item_quantity {
	left: 390px;
	top: 6px;
}

.item_title>div>p>span {
	width: 260px;
}

#footer {
	top: min(max(calc(100vh - 95px), 815px), 900px);
}

#order_buttons {
	top: 700px;
	left: 480px;
	width: 190px;
}

#page_number {
    top: 710px;
    left: 517px;
    font-size: 16px;
	width: 116px;
    height: 21px;
    display: flex;
    text-align: center;
    color: #C2EAFB;
}

.pre_btn.active, .pre_btn:active, .next_btn.active, .next_btn:active {
	box-shadow: none;
}

.next_btn {
	margin-left: 89px;
}

#page_number>p {
	width: 100%;
}