version: "2"

services:
  pda:
    image: parasoft/demo-app:${PDA_IMAGE_TAG:-latest}
    ports:
      - "8080:8080"
      - "9001:9001"
      - "61623:61623"
      - "61624:61624"
      - "61626:61626"
    working_dir: /usr/local/tomcat/data
    volumes:
      - "pda_data:/usr/local/tomcat/data"
      # Uncomment if JDBC proxy is needed. Create a lib folder under current directory and copy <VIRTUALIZE_INSTALL_DIR>/proxies/ParasoftJDBCDriver.jar into it
      # - "./lib/ParasoftJDBCDriver.jar:/usr/local/tomcat/webapps/ROOT/WEB-INF/lib/ParasoftJDBCDriver.jar:ro"
      # Uncomment if application.properties needs to be customized. Create a config folder and put customized application.properties file in it.
      # - "./config/application.properties:/usr/local/tomcat/data/config/application.properties:ro"
    environment:
      - JAVA_OPTS=-Dspring.kafka.bootstrap-servers=kafka:9092
    depends_on:
      - kafka
  kafka:
    # https://github.com/bitnami/containers/blob/d559d7c399eec5f0249806fe03981291df013af6/bitnami/kafka/README.md
    image: docker.io/bitnami/kafka:3.3
    ports:
      - "9093:9093"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS=INTERNAL://:9092,EXTERNAL://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://${EXTERNAL_HOSTNAME:-localhost}:9093
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
    depends_on:
      - zookeeper
  zookeeper:
    # https://github.com/bitnami/containers/blob/3edc7deb87b51ab5fee0368fa8dd79c7bb67c3fc/bitnami/zookeeper/README.md
    image: docker.io/bitnami/zookeeper:3.8
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

volumes:
  pda_data:
    driver: local
  kafka_data:
    driver: local
  zookeeper_data:
    driver: local
