body {
    background-color: rgba(249, 250, 251, 1);
}

.industry_font {
    font-family: 'Courier', sans-serif;
}

#header-container {
    background-color: rgba(24, 60, 130, 1);
    -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.349019607843137);
}

.header-title a {
    font-family: 'ArialMT', 'Arial', sans-serif;
    color: #b2c2cd;
}

.role-title {
    font-family: 'Georgia', sans-serif;
    color: #b2c2cd;
}

#username-button .dropdown-menu {
    background-color: rgba(249, 250, 251, 1);
}

#username-button .dropdown-menu>li>a {
    color: #333;
}

#username-button .dropdown-menu>li>a:hover {
    color: #23527c;
}

.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f1f8fd;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.new-status-label {
    color: #BF051B;
}

#map>img {
    border: 4px solid #47481e;
}

.order_title {
    color: #fff;
    background-color: rgb(83 114 175);
}

.order_content {
    background: #fff;
}

.order_content>td>a {
    color: #BF051B;
}

.approver_order_detail_box_img {
    background-image: url(/outdoor/images/approver_order_detail_box.svg);
}

.dialog-title {
    color: #33424D;
}

#order_detail_region {
    font-size: 18px;
    color: #2F2F16;
}

#order_detail_assigned_campaign {
    font-size: 18px;
    color: #2F2F16;
}

#order_detail_map>img {
    border: 4px solid #33424d;
}

/*Define the scroll-bar style*/
#order_items::-webkit-scrollbar {
    background: rgb(249, 250, 251);
}

/*Define the scroll-bar's slider style*/
#order_items::-webkit-scrollbar-thumb {
    background-color: #333;
}

.item_img, .item_img>img {
    width: 83px;
    height: 47px;
}

.requested_assets {
    font-size: 18px;
    color: #2F2F16;
}

#response_title {
    font-size: 18px;
}

#response_select {
    width: 210px;
    border: 1px solid #333;
}

#comments_content {
    height: 58px;
    border: 1px solid #333;
}

#cancel_btn {
    width: 123px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-color: rgba(121, 121, 121, 1);
}

#save_btn {
    width: 271px;
    height: 30px;
    background-color: rgba(58, 89, 147, 1);
    color: #fff;
    border-width: 0px;
    text-align: center;
    margin: 8px 40px;
    padding-top: 3px;
    border-radius: 1px;
    border: none;
}

.operated_order_APPROVED {
    color: GREEN;
}