#search {
	top: 2px;
	left: 556px;
}

#search_text, #search_text_div, #search_text_input {
	width: 333px;
}

#search_button {
    top: 10px;
    left: 303px;
    cursor: pointer;
}

#asset_type {
	width: 235px;
	height: 22px;
	font-weight: 700;
	font-size: 36px;
	color: #33424D;
}

#asset_type_div {
	width: 235px;
	height: 22px;
	font-weight: 800;
	font-size: 28px;
	color: #2F2F16;
}

#availability_region {
	left: 0px;
	top: 123px;
	width: 264px;
	height: 318px;
	background-color: rgba(214, 223, 230, 1);
}

#availability_region_box {
	position: absolute;
	left: 15px;
    top: 140px;
}

#availability_region_title {
	left: 15px;
	top: 140px;
	width: 249px;
	font-weight: 700;
	font-size: 18px;
	color: #33424D;
	margin-bottom: 5px;
}

#availability_region_title_div {
	width: 249px;
	height: 22px;
	font-weight: 800;
	font-size: 20px;
	color: #2F2F16;
}

label {
	display: block;
}

.regions {
	font-size: 16px;
	color: #2F2F16;
}

.assets_category_box_div {
	background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 4px rgba(47, 47, 22, 0.345098039215686);
    -webkit-box-shadow: 0px 0px 4px rgba(47, 47, 22, 0.345098039215686);
    box-shadow: 0px 0px 4px rgba(47, 47, 22, 0.345098039215686);
}

.assets_category_box_img, .region_box_img {
	display: none;
}

#item_select {
    left: 1018px;
    top: 80px;
    width: 123px;
    height: 30px;
    display: flex;
    font-size: 14px;
    color: #2F2F16;
}

#item_select_div {
    width: 123px;
    height: 30px;
    background-color: #fff;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(47, 47, 22, 1);
    border-radius: 0px;
    font-size: 14px;
    color: #2F2F16;
}

.item_filter {
    width: 122px;
    height: 30px;
    padding: 3px 3px 3px 3px;
    font-size: 14px;
    letter-spacing: normal;
    color: #2F2F16;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

.add_to_requisition>.common_text>a>span {
    color: #4F3000;
    font-size: 13px;
}

 input:checked::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12.8px;
    height: 12.8px;
    left: 0;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #fff;
}

input:checked::after {
    content: "";
    position: absolute;
    left: 3px;
    width: 6px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg);
}

.category_title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.item_description {
	font-size: 15px;
}

#items_breadcrumb {
	left: 6px;
    top: -44px;
    width: 500px;
    height: 22px;
    font-size: 14px;
}

.orderContent {
    -webkit-line-clamp: 2;
    white-space: normal;
}

.breadcrumb_unclickable_button {
	width: 1095px;
}

#footer {
	top: 874px;
}

.requisition_dark_overlay {
	background-image: url(/outdoor/images/requisition_dark_overlay.svg);
}

#requsition_detail_available {
	width: 188px;
}