.login-form-container {
    background-color: rgba(249, 249, 249, 1);
    border-width: 3px;
    border-style: solid;
    border-color: rgba(71, 72, 30, 1);
    box-shadow: 0 0 8px rgba(47, 47, 22, 0.345098039215686);
}

.submit-button>button {
    width: 215px;
    background-color: rgba(255, 153, 0, 1);
    border: 1px solid rgba(55, 67, 76, 1);
    border-radius: 6px;
}

.forgot-password a, .forgot-password a:hover {
    color: #0366AE;
}

.input-field>input {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(47, 47, 22, 1);
    border-radius: 0;
}

.form-title {
    font-weight: 700;
    font-size: 36px;
    color: #33424D;
}

.modal-content {
    background: rgba(249, 249, 249, 1);
}

.btn-default {
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 800;
    color: #4F3000;
}

.table-title {
    background: #f9f9e3;
}

.close-btn:hover {
    color: rgb(4,126,213);
}