#header-container {
    background-color: rgba(0, 31, 85, 1);
}

.header-title a {
    font-family: 'Georgia', sans-serif;
    color: #CBD7F0;
}

.role-title {
    color: #FFFFFF;
}

.dropdown-menu {
    background-color: rgba(249, 250, 251, 1);
}

.order_title {
    background-color: rgb(58, 89, 147) ! important;
}

.order_content {
    background: #fff;
}

.order_content>td>a {
    color: #BF051B;
}

.approver_order_detail_box_img {
    background-image: url(/defense/images/approver_order_detail_box.svg);
}

.dialog-title {
    color: #2F2F16;
}

#order_detail_map>img {
    border: 4px solid #47481e;
}

.glyphicon-cog {
        color: #fff;
}

#footer {
    background-color: rgba(47, 47, 22, 1);
    color: #F7F7D9;
}