body {
    background-color: rgba(240, 240, 230, 1);
}

.industry_color_1 {
    color: #117563;
}

.industry_front {
    line-height: normal;
    font-weight: 400;
}

#header-container {
    background-color: rgba(47, 47, 22, 1);
}

#header-container .button-body:hover {
    background-color: rgba(247, 247, 217, 0.101960784313725);
}

.header-title a {
    color: #F7F7D9;
    font-weight: 800;
    font-size: 36px;
}

#setting-button a, .role-title {
    color: #F7F7D9;
}

#username-button .dropdown-menu {
    background-color: #F7F7D9;
}

#username-button .dropdown-item a {
    color: #117563;
}

#username-button .dropdown-item a:hover {
    background-color: #F7F7D9;
}

#footer {
    background-color: rgba(47, 47, 22, 1);
    color: #F7F7D9;
}


.asset_summary_box {
    background-color: rgba(249, 249, 227, 1);
    box-shadow: 0 0 4px rgb(47 47 22 / 35%);
}

.asset_summary_box:hover {
    box-shadow: 0 0 10px grey;
}

.asset_summary_title a span {
    font-weight: 800;
}

.asset_summary_title a:hover, .asset_summary_view_all a:hover {
    color: rgb(51,153,135);
}

.background {
    width: fit-content;
    height: 0px;
    margin: 0px;
}

.background-img {
    background-image: url(/defense/images/background.svg);
}

.background-img {
    height: 720px;
    width: 1200px;
    position: relative;
    z-index: -1;
}