body {
	background-color: rgba(240, 240, 230, 1);
}

#background_img {
	background-image: url(/defense/images/background.svg);
}

.category_dark_overlay {
	background-image: url(/defense/images/category_dark_overlay.svg);
}

.industry_font {
	font-family: 'NewYorkExtraLarge-Heavy', 'New York Extra Large Heavy',
		'New York Extra Large', sans-serif;
}

#top_side_div {
	background-color: rgba(47, 47, 22, 1);
}

#requisitions {
	left: 940px;
	font-family: 'Roboto-Regular', 'Roboto', sans-serif;
}

.font_color1, .dropdown-item {
	color: #117563; 
}

.font_color2 {
	color: #F7F7D9; 
}

.unClickable_color1 {
	color: #2F2F16;
}

#background {
	border-width: 0px;
    position: absolute;
    left: 0px;
    width: 1200px;
    height: 720px;
    display: flex;
}

#background_img {
	border-width: 0px;
	position: absolute;
	left: 0px;
	top: 74px;
	width: 1200px;
	height: 720px;
}

#home_background_img {
	position: absolute;
    top: 74px;
}

#home_background_img>img {
	border-width: 0px;
    position: absolute;
    left: 0px;
    width: 1200px;
    height: 515px;
    display: flex;
}

#home_background_darkoverlay {
	position: absolute;
    z-index: 1;
    top: 74px;
}

#home_background_darkoverlay>img {
    width: 1200px;
    height: 380px;
}

#middle_side {
	z-index: 1;
}

#footer {
	top: 1427px;
}

#footer_div {
	background-color: rgba(47, 47, 22, 1);
}

.dropdown-menu {
	background-color: rgba(249, 249, 227, 1);
}

#search_text {
	border-width: 0px;
	position: absolute;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #20200A;
}

#search_text_div {
	background-color: #fff;
	border-color: rgba(47, 47, 22, 1);
	font-size: 18px;
	color: #20200A;
}

#search_text_input {
	font-weight: 400;
	font-size: 18px;
}

#search_button {
	font-weight: 800;
	color: #4F3000;
}

.assets_category_title {
	width: 120px;
	height: 22px;
	font-weight: 800;
	font-size: 24px;
}

.assets_category_div {
	width: 235px;
	height: 22px;
	font-weight: 800;
	font-size: 24px;
}

.assets_category_description, .assets_category_description_div {
	width: 235px;
	height: 60px;
}

#advertisement_button_text {
	background-color: rgba(255, 153, 0, 1);
}

#advertisement_button {
	font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
}

#advertisement_button_div {
	width: 140px;
	height: 40px;
	font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	background-color: rgba(255, 153, 0, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 73, 0, 1);
	border-radius: 1px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#requisition_box_div {
    background-color: rgba(249, 249, 227, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(71, 72, 30, 1);
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(47, 47, 22, 0.345098039215686);
}

#requisition_title {
    font-weight: 800;
}

#requisition_cross {
	font-weight: 800;
	font-size: 24px;
}

.requisition_item_title {
	font-weight: 800;
}

.requisition_item_title>div>p>a>span {
	width: 370px;
}

.content_text {
	background-color: rgba(249, 249, 227, 1);
}

.requisition_item_number_input, .requsition_detail_input_number{
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #333;
}

.requisition_button {
    background-color: rgba(251, 232, 202, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 73, 0, 1);
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-family: 'NewYorkExtraLarge-Heavy', 'New York Extra Large Heavy', 'New York Extra Large', sans-serif;
    font-weight: 800;
    color: #4F3000;
}

.requisition_remove {
    left: 565px;
    width: 64px;
    height: 20px;
    font-size: 12px;
    color: #117563;
    text-align: center;
}

.requisition_remove_row1 {
	top: 252px;
}

.requisition_remove_row2 {
	top: 377px;
}

.related_button {
	font-weight: 800;
	font-size: 12px;
	padding-top: 7px;
}

.related_button_div {
    width: 157px;
    height: 30px;
    background-color: rgba(251, 232, 202, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 73, 0, 1);
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 800;
    font-size: 12px;
    color: #4F3000;
}

#related_asset_box_div {
    width: 187px;
    height: 262px;
    background-color: rgba(249, 249, 227, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(71, 72, 30, 1);
    box-shadow: none;
}

#related_asset_title {
    font-weight: 800;
    font-size: 16px;
}

#related_asset_description {
	color: #2F2F16;
}

#related_asset_available {
    font-weight: 800;
    color: #2F2F16;
}

#requsition_detail_box_div {
    width: 390px;
    height: 365px;
    background-color: rgba(249, 249, 227, 1);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(71, 72, 30, 1);
    border-radius: 0px;
    box-shadow: 0px 0px 4px rgba(47, 47, 22, 0.345098039215686);
}

#requsition_detail_title, #requsition_detail_available {
	font-weight: 800;
}

.submit_button_text, #detail_button {
    background-color: rgba(255, 153, 0, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 73, 0, 1);
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 800;
    font-size: 16px;
    color: #4F3000;
}

#detail_button {
	font-size: 13px;
	width: 170px;
}

.amount_text {
    font-size: 10px;
    top: 3px;
}

#add_to_requisition_btn {
    width: 182px;
    background: inherit;
    background-color: rgba(251, 232, 202, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 73, 0, 1);
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 800;
    font-style: normal;
    color: #4F3000;
    font-size: 13px;
}

.in_stock {
	left: -26px;
    position: relative;
}

.in_requisition_request {
	font-size: 14px;
    position: relative;
    left: -15px;
    top: -5px;
}

/* loading animation */
   	.sp-3balls, .sp-3balls:before, .sp-3balls:after {
  border-radius: 50%;
  background-color: #000;
  width: 8px;
  height: 8px;
  transform-origin: center center;
  display: inline-block;
}

.orange_button:hover, #search_button_btn:hover, #detail_button:hover, #advertisement_button_text:hover {
	background-color: rgba(249, 181, 78, 1);
}

#requisition_order:hover, #to_demo_admin_button:hover, #right_bar:hover, #account:hover, #approver_account:hover {
	background-color: rgba(247, 247, 217, 0.101960784313725);
}

.category:hover, .item:hover {
  	border-color: rgba(71, 72, 30, 1);
  	border-radius: 10px;
  	-moz-box-shadow: 0px 0px 10px rgba(47, 47, 22, 0.603921568627451);
  	-webkit-box-shadow: 0px 0px 10px rgba(47, 47, 22, 0.603921568627451);
  	box-shadow: 0px 0px 10px rgba(47, 47, 22, 0.603921568627451);
}

.green_text:hover, #requisition_cross:hover, .support_text:hover {
	color: rgb(51,153,135);
}

#add_to_requisition_btn:hover, .requisition_button:hover, .function_btn:hover {
	background-color: rgba(238, 208, 162, 1);
}

.requisition_detail_button {
    width: 37px;
    height: 37px;
}

.breadcrumb {
    background-color: #f5f5f500;
    padding-left: 0px;
}

.breadcrumb>li+li:before {
    content: "\003E";
    color: #2F2F16;
}

#return_to_home {
    left: 30px;
    top: 101px;
	width: 143px;
	height: 22px;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}