<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" xmlns:th="http://www.thymeleaf.org" ng-app="errorPageApp">
<head>
    <meta charset="UTF-8">
    <title translate="PROJECT_NAME"></title>

	<link rel="icon" href="/common/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/common/css/common.css">
	<link rel="stylesheet" type="text/css" href="/common/css/defaultError.css">
	<link rel="stylesheet" type="text/css" ng-href="/{{industry}}/css/style.css">
	<link rel="stylesheet" type="text/css" ng-href="/{{industry}}/css/error.css">
</head>
<body>
    <div class="message warning industry_font" ng-controller="error_controller as error">
		<div class="error_head">
			<h1 translate="500_ERROR_TITLE"></h1>		
		</div>
		<div class="content">
			<div translate="500_ERROR_CONTENT"></div><br/><br/>
			<a href="/" class="go_home"><span translate="BACK_TO_HOME"></span></a>
		</div>
	</div>
    
	<script type="text/javascript" src="/lib/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.serializejson.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate-loader-url.min.js"></script>
	<script type="text/javascript" src="/common/js/common.js"></script>
	<script type="text/javascript" src="/common/js/errorPage.js"></script>
</body>
</html>