<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" xmlns:th="http://www.thymeleaf.org" ng-app="pdaApp">
<head>
    <meta charset="UTF-8">
    <title translate="PROJECT_NAME"></title>
    <link rel="icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/toastr/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/common/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="'/' + ${industry} + '/css/common.css'">
    <link rel="stylesheet" type="text/css" href="/common/css/item.css">
    <link rel="stylesheet" type="text/css" th:href="'/' + ${industry} + '/css/item.css'">
</head>
<body>
    <input type="hidden" id="current_username" th:value="${#authentication.principal.username}">
    <input type="hidden" id="current_rolename" th:value="${#authentication.principal.role.name}">
    <input type="hidden" id="current_web_service_mode" th:value="${currentWebServiceMode}">

    <div class="page-container">
        <div ng-include="'/common/pages/header.html'" class="header-section" ng-controller="headerController as header"></div>
        <div ng-controller="itemDetailController as itemDetail" class="page-content-section item_wrapper">
            <div ng-include="'/common/pages/requisitionBar.html'" ng-controller="requisitionBarController as requisition"></div>
            <div id="middle" ng-if="itemDetail.showItemDetail">
                <div id="item_detail_breadcrumb">
                    <ol class="industry_font item_navigation_bar">
                        <li>
                            <a href="/"><span class="industry_color_1 home-link" translate="RETURN_TO_HOME"></span></a>
                        </li>
                        <li>
                            <a ng-href="/categories/{{itemDetail.item.categoryId}}">
                                <span class="industry_color_1" ng-bind="itemDetail.categoryName|textLengthSet:true:50:'...'"></span>
                            </a>
                        </li>
                        <li class="retract_format unClickable_color1" ng-bind="itemDetail.item.name"></li>
                    </ol>
                </div>
                <div id="item_title" class="industry_font item_common_text">
                    <span class="industry_color_2 nowrap" ng-bind="itemDetail.item.name" title="{{itemDetail.item.name}}"></span>
                </div>
                <div class="item_detailed_information">
                    <div class="item_img_and_buttons">
                        <div id="item_img_dark_overlay" class="common_industry">
                            <div class="detail_dark_overlay_img"></div>
                        </div>
                        <div id="item_img">
                            <img ng-src="{{itemDetail.item.image}}">
                        </div>
                        <div class="item_buttons">
                            <div class="industry_font item_minus_and_plus">
                                <div class="item_minus">
                                    <button type="button" class="requisition_button"
                                            ng-click="itemNum = itemDetail.minusItemNum(itemNum,itemInventory,inRequisition)"
                                            ng-style="minusDisabled" ng-disabled="minusBtnDisabled">-</button>
                                </div>
                                <div id="item_number">
                                    <input id="item_number_input" type="number"
                                           onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                           ng-onkeyup="itemNum = itemNum.replace(/\D/g,'')" ng-model="itemNum"
                                           ng-blur="itemNum = itemDetail.inputItemNum(itemNum,itemInventory,inRequisition)"
                                           ng-value="itemNum">
                                </div>
                                <div id="item_plus">
                                    <button type="button" class="requisition_button"
                                            ng-click="itemNum = itemDetail.plusItemNum(itemNum,itemInventory,inRequisition)"
                                            ng-style="plusDisabled" ng-disabled="plusBtnDisabled">+</button>
                                </div>
                            </div>
                            <div id="item_add_to_cart_button" class="industry_font">
                                <button class="retract_format"
                                        ng-style="btnDisabled" ng-disabled="addToBtnDisabled"
                                        ng-click="itemDetail.addItemToReqisition(itemNum,itemInventory,inRequisition)"
                                        translate="ADD_TO_CART">
                                </button>
                            </div>
                            <div id="item_available">
                                <div class="industry_color_2 item_inventory_and_requisition" ng-show="itemDetail.showQuantity">
                                    <div class="in_stock">
                                        <span ng-bind="itemInventory"></span>
                                        <span translate="IN_STOCK"></span>
                                    </div>
                                    <div class="in_requisition" ng-show="inRequisition !== 0">
                                        (<span ng-bind="inRequisition"></span>
                                        <span translate="IN_CART" class="retract_format"></span>)
                                    </div>
                                </div>
                                <div class="item_loading" ng-show="itemDetail.loadingAnimation">
                                    <div class="sp-3balls"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="item_description"  class="industry_color_2 item_common_text"
                         ng-bind="itemDetail.item.description">
                    </div>
                </div>
            </div>
            <div ng-include="'/common/pages/emptyContentMessage.html'" ng-if="itemDetail.itemDetailError"></div>
        </div>

        <footer ng-include="'/common/pages/footer.html'"></footer>
    </div>

    <script type="text/javascript" src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/angular-translate.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/angular-translate-loader-url.min.js"></script>
    <script type="text/javascript" src="/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/lib/stomp/stomp.min.js"></script>
    <script type="text/javascript" src="/common/js/common.js"></script>
    <script type="text/javascript" src="/common/js/item.js"></script>
    <script type="text/javascript" src="/common/js/graphQLService.js"></script>
</body>
</html>