<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" xmlns:th="http://www.thymeleaf.org" ng-app="orderPageApp">
<head>
    <meta charset="UTF-8">
    <title translate="PROJECT_NAME"></title>
    
    <link rel="icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/toastr/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/common/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="'/' + ${industry} + '/css/style.css'">
    <link rel="stylesheet" type="text/css" th:href="'/' + ${industry} + '/css/orders.css'">
</head>
<body>
	<input type="hidden" id="current_username" th:value="${#authentication.principal.username}">
	<input type="hidden" id="current_rolename" th:value="${#authentication.principal.role.name}">
	<div ng-include="'/common/pages/header.html'" ng-controller="headerController"></div>
	<div ng-include="'/common/pages/requisitionBar.html'" ng-controller="requisitionBarController as requisition"></div>
	<div ng-controller="orderHistoryController as history">
		<div id="return_to_home" class="common_industry industry_font">
			<div class="common_text">
				<p><a href="/"><span class="font_color1" translate="RETURN_TO_HOME"></span></a></p>
			</div>
		</div>
	
		<div id="req_title" class="common_industry industry_font">
			<div class="common_text">
				<p><span translate="ORDER_PAGE_TITLE"></span></p>
			</div>
		</div>
		<table class="table table-bordered common_industry industry_font">
			<tbody>
				<tr class="order_title">
					<th class="status" translate="STATUS"></th>
					<th class="requisition_number" translate="ORDER_NUMBER"></th>
					<th class="submission_date" translate="SUBMISSION_DATE"></th>
					<th class="approver_reply_date" translate="APPROVER_REPLY_DATE"></th>
					<th class="assets" translate="ASSETS"></th>
				</tr>
				<tr class="order_content" ng-repeat="order in history.orders">
					<td>
						<span class="new_label new_label{{$index+1}}" translate="NEW" ng-if="isPurchaser" ng-show="!order.reviewedByPRCH"></span>
						<!-- <span class="new_label" translate="NEW" ng-if="isApprover" ng-show="!order.reviewedByAPV"></span> -->
						<span ng-class="!order.reviewedByPRCH ? 'order_status' : ''" translate="{{order.status+'_STATUS'}}"></span>
					</td>
					<th><a class="font_color1" ng-bind="order.orderNumber" ng-click="history.openOrderDetail($index+1,order.status,order.orderNumber,order.reviewedByAPV,order.reviewedByPRCH)"></a></th>
					<td ng-bind="order.submissionDate.substring(0,order.submissionDate.indexOf('T'))"></td>
					<td ng-bind="order.approverReplyDate === null ? '-' : 
						order.approverReplyDate.substring(0,order.approverReplyDate.indexOf('T'))"></td>
					<td style="text-align:left;">
						<span class="assets_content" title="{{history.showOrderItems(order.orderItems)}}" 
							ng-bind="history.orderItems(order.orderItems)|textLengthSet:true:33:'...'"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="order_buttons" class="common_industry">
			<a role="button" class="pre_btn btn" ng-disabled="history.currentPage <= 1 ? true : false">
				<img ng-src="/{{industry}}/images/purchaser_order_left.svg" ng-click="history.prev(history.currentPage)">
			</a>
			<a role="button" class="next_btn btn" ng-disabled="history.currentPage === history.totalPages ? true : false">
				<img ng-src="/{{industry}}/images/purchaser_order_right.svg" 
						ng-click="history.next(history.currentPage)">
			</a>
		</div>
		<div id="page_number" class="common_industry">
			<p>
				<span ng-bind="history.currentPage"></span>
				<span ng-bind="'of'"></span>
				<span ng-bind="history.totalPages"></span>
			</p>
		</div>
		
		<div ng-if="history.showOrderDetail['show']">
			<div class="order_detail">
				<div id="order_detail_box" class="common_industry">
					<img ng-src="/{{industry}}/images/order_detail_box.svg">
				</div>
				<div id="cross_btn" class="common_industry industry_font" ng-click="history.closeOrderDetail()">
					<span class="font_color1" ng-bind="'X'"></span>
				</div>
				<div id="order_detail_title" class="common_industry industry_font">
					<div class="common_text">
						<p>
							<span ng-bind="'ORDER'|translate|uppercase"></span>
							<span ng-bind="'#'+history.order.orderNumber"></span>
							<span ng-if="history.order.status === 'APPROVED'" translate="APPROVED_AND"></span><span 
								ng-if="history.order.status !== 'SUBMITTED'"><span 
								ng-bind="history.order.status+'_STATUS'|translate|uppercase"></span><span ng-bind="'!'"></span></span>
						</p>
					</div>
				</div>
				<div class="requested_assets common_industry industry_font">
					<div class="common_text">
						<p>
							<span translate="REQUESTED_ASSETS"></span><span>: </span>
							<span ng-bind="history.totalItemQuantity"></span>
						</p>
					</div>
				</div>
				<div id="order_items" class="common_industry">
					<div ng-repeat="orderItem in history.order.orderItems track by $index" ng-style="history.loadStyles($index)">
						<div class="item_img common_industry">
							<img ng-src="{{orderItem.image}}">
						</div>
						<div class="item_img common_industry">
							<img ng-src="/{{industry}}/images/category_dark_overlay.svg">
						</div>
						<div class="order_item_title common_industry industry_font">
							<div class="common_div"></div>
							<div class="common_text" title="{{orderItem.name}}">
								<p><span class="retract_format order_item_title" ng-bind="orderItem.name"></span></p>
							</div>
						</div>
						<div class="order_item_description common_industry industry_font">
							<div class="common_div"></div>
							<div class="common_text" title="{{orderItem.description}}">
								<p><span class="orderContent" ng-bind="orderItem.description"></span></p>
							</div>
						</div>
						<div class="order_item_quantity common_industry industry_font">
							<div class="common_div"></div>
							<div class="common_text">
								<p><span ng-bind="'x'"></span>&nbsp;<span ng-bind="orderItem.quantity"></span></p>
							</div>
						</div>
					</div>
				</div>
				<div id="order_detail_map" class="common_industry">
					<img ng-src="{{history.order.orderImage}}">
				</div>
				<div>
					<div id="order_detail_assigned_campaign" class="common_industry industry_font" ng-show="!isAerospace">
						<div class="common_text">
							<p><span translate="ASSIGNMENT_STEP_IN_WIZARD"></span><span>:</span></p>
						</div>
					</div>
					<div id="order_detail_assigned_campaign_summary" class="common_industry industry_font">
						<div class="industry_font order_detail_summary_title_and_content">
							<span class="order_detail_summary_title" translate="INVOICE_NUMBER"></span><span>: </span>
							<span class="order_detail_summary_content" ng-bind="history.order.eventId" title="{{history.order.eventId}}"></span>
						</div>

						<div class="industry_font order_detail_summary_title_and_content">
							<span class="order_detail_summary_title" translate="UNIQUE_NUMBER"></span><span>: </span>
							<span class="order_detail_summary_content" ng-bind="history.order.eventNumber" title="{{history.order.eventNumber}}"></span>
						</div>
					</div>
					<div id="order_rejected_reason" class="common_industry industry_font" ng-show="history.order.status !== 'SUBMITTED'">
						<div class="common_text">
							<p><span translate="COMMENTS"></span><span>: </span></p>
						</div>
						<div id="order_rejected_reason_content" class="common_industry industry_font">
							<div ng-bind="history.order.comments === '' ? '-' : history.order.comments"></div>
						</div>
					</div>

					<div id="order_detail_region" class="common_industry industry_font" ng-show="!isAerospace"><span translate="DEPLOY_ASSETS_TO"></span><span>: </span></div>
					<div id="order_detail_region_summary" class="common_industry industry_font">
						<div class="industry_font order_detail_summary_title_and_content">
							<span class="order_detail_summary_title" translate="LOCATION_OPTIONS"></span><span>: </span>
							<span class="order_detail_summary_content" translate="{{history.order.region}}" title="{{ history.order.region|translate}}"></span>
						</div>

						<div class="industry_font order_detail_summary_title_and_content">
							<span class="order_detail_summary_title" translate="RECEIVER_NAME"></span><span>: </span>
							<span class="order_detail_summary_content" ng-bind="history.order.receiverId" title="{{history.order.receiverId}}"></span>
						</div>
						<div class="industry_font order_detail_summary_title_and_content">
							<span class="order_detail_summary_title" translate="GPS_COORDINATES"></span><span>: </span>
							<span class="order_detail_summary_content" ng-bind="history.order.location" title="{{history.order.location}}"></span>
						</div>
					</div>
				</div>

				<div id="close_btn" class="common_industry industry_font">
					<button class="btn" ng-click="history.closeOrderDetail()" translate="CLOSE"></button>
				</div>
			</div>
			<div class="orderDetailShadow" ng-click="history.closeOrderDetail()"></div>
		</div>
		<div class="orders_empty_content_message empty_error_message" ng-include="'/common/pages/emptyContentMessage.html'"
			 ng-if="history.ordersLoadError"></div>
		<div class="orders_empty_content_message empty_error_message" ng-include="'/common/pages/emptyContentMessage.html'"
			 ng-if="history.emptyContentsMessage"></div>
	</div>
	<div ng-include="'/common/pages/footer.html'"></div>
    
	<script type="text/javascript" src="/lib/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/lib/swiper/swiper.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate.min.js"></script>
	<script type="text/javascript" src="/lib/angularjs/angular-translate-loader-url.min.js"></script>
	<script type="text/javascript" src="/lib/toastr/toastr.min.js"></script>
	<script type="text/javascript" src="/lib/stomp/stomp.min.js"></script>
	<script type="text/javascript" src="/common/js/common.js"></script>
	<script type="text/javascript" src="/common/js/orders.js"></script>
</body>
</html>