<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="/common/css/pda-swagger-ui.css" >
    <link rel="stylesheet" type="text/css" href="/lib/swaggerui/css/swagger-ui.css" >
    <link rel="icon" type="image/png" href="/lib/swaggerui/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/lib/swaggerui/images/favicon-16x16.png" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script type="text/javascript" src="/lib/swaggerui/js/swagger-ui-bundle.js"> </script>
    <script type="text/javascript" src="/lib/swaggerui/js/swagger-ui-standalone-preset.js"> </script>
    <script type="text/javascript" src="/common/js/swagger-ui-index.js"></script>
  </body>
</html>
