html {
    height: 100%;
}

body {
    width: 1200px;
    margin: auto;
    visibility: hidden;
    height: 100%;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-section {
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-content-section {
    padding-top: 50px;
    flex-grow: 1;
    width: auto;
    height: auto;
    position: relative;
}

#footer {
    margin-top: 40px;
    height: 95px;
    display: flex;
}

.buildInfo {
    margin-top: 45px;
    list-style: none;
    font-size: 12px;
}

.buildInfo .retract_format {
    max-width: 990px;
}

#header-container {
    z-index: 1000;
    border-width: 0;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-container .button-body:hover {
    cursor: pointer;
}

.header-title {
    margin-left: 40px;
    font-size: 36px;
}

.header_title_link {
    max-width: 850px;
}

.header-menu nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 0 0;
}

.header-menu nav>ul>li {
    height: 31px;
    width: 37px;
    margin: 0 5px;
    position: relative;
}

.header-menu nav>ul>li img {
    height: 16px;
}

#username-button {
    width: unset;
    min-width: 72px;
    height: 35px;
    font-size: 12px;
}

#setting-button a {
    font-size: 19px;
}

#setting-button .glyphicon {
    top: 0;
}

.full-fill-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.amount-container {
    position: absolute;
    top: 0;
    left: 22px;
    min-width: 14px;
    height: 14px;
    padding: 1px 4px 0 4px;
    background-color: rgba(255, 153, 0, 1);
    border-radius: 14px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.exclamation-mark {
    position: absolute;
    text-align: center;
    height: 14px;
    width: 14px;
    top: 0;
    left: 22px;
    border-radius: 50%;
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

#username-button .dropdown-menu {
    min-width: 100px;
    min-height: 29px;
    right: -15px;
}

#username-button .dropdown-menu .divider {
    margin: 5px 0;
}

.error-message-container {
    text-align: center;
    font-size: 16px;
    color: red;
    z-index: 2;
}

.error_box {
    height: 40px;
    background-color: #f1cfcf;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.form_error_message {
    position: relative;
    top: 10px;
}

/* to prevent hiding scrollbar when modal open */
.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

#requisition_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    max-height: 795px;
    height: 100%;
    z-index: 100;
    box-shadow: 0px 0px 10px rgb(0 0 0/ 35%);
}

#requisition_bar_content {
    display: flex;
    flex-direction: column;
    width: 688px;
    height: 97%;
    padding-left: 30px;
}

.shopping_title {
    flex: 1;
}

@keyframes collapseIn {
    from {
        width: 688px;
        height: 100%;
    } to {
          float: right;
          width: 0;
          height: 100%;
      }
}

@keyframes collapseOut {
    from {
        float: right;
        width: 0;
        height: 100%;
    } to {
          float: right;
          width: 688px;
          height: 100%;
      }
}

.collapse_in {
    animation: collapseIn .35s;
}

.collapse_out {
    animation: collapseOut .35s;
}

#requisition_close_button {
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    margin: 5px 20px 0 620px;
    cursor: pointer;
    width: 20px;
}

#requisition_title {
    font-weight: 700;
    font-size: 24px;
}

.requisition_detail_dark_overlay_img {
    position: absolute;
    width: 115px;
    height: 65px;
}

#requisition_img_dark_overlay {
    z-index: 5;
}

.requisition_item_img img {
    width: 115px;
    height: 65px;
}

#requisition_submit_button {
    height: 40px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px rgb(0 0 0);
    border-color: rgba(121, 73, 0, 1);
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#assets_to_deploy {
    font-size: 20px;
}

#assets_to_deploy .retract_format {
    max-width: 600px;
}

#assets_amount {
    font-weight:700;
    margin-left: 5px;
}

#shopping_cart {
    flex: 3;
    position: relative;
    overflow-y: auto;
    width: 660px;
}

#shopping_cart::-webkit-scrollbar {
    width: 3px;
}

#shopping_cart::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px;
    background-color: rgba(249, 249, 227, 1);
}

#shopping_cart::-webkit-scrollbar-track {
    border-radius: 3px;
}

.item-content-container {
    display: flex;
}

.requisition_item {
    margin-bottom: 25px;
}

.requisition_item_title {
    font-size: 18px;
    font-weight: 800;
}

#requisition_title span, .requisition_item_title a {
    width: fit-content;
    max-width: 660px;
}

.requisition_item_description  {
    width: 270px;
    height: 65px;
    overflow-y: auto;
    margin-left: 10px;
    margin-right: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    word-break: break-word;
}

.requisition-item-number-operations {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.requisition_item_number_input {
    width: 64px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #C2EAFB;
    font-size: 14px;
    color: #20200A;
    text-align: center;
}

.requisition_item_number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.requisition_item_number input:focus {
    outline: none;
}

.requisition_item_extra {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 145px;
}

.requisition_error {
    height: 45px;
    font-size: 14px;
    color: red;
    font-weight: 700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.requisition_remove {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.requisition_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.requisition_buttons div {
    display: inline-block;
}

.requisition_buttons button {
    width: 30px;
    height: 30px;
    border-style: solid;
    box-shadow: 1px 1px 1px rgb(0 0 0);
    font-style: normal;
}

.retract_format {
    display: inline-block;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    white-space: nowrap;
    vertical-align: text-top;
}

.regions {
    max-height: 28px;
}

.align-to-icon {
    vertical-align: middle;
    line-height: 3rem;
}

.info-icon {
    font-size: initial;
    color: #0366AE;
    vertical-align: middle;
    line-height: 3rem;
    cursor: pointer;
}