/* common */
#page_title {
    font-size: 36px;
    font-weight: 800;
    margin-top: 13px;
}

.page-content-section {
    padding: 30px;
}

.page_main_content {
    display: flex;
    flex-direction: row;
}

.page_main_left_content {
    width: 855px;
}

.page_main_right_content {
    margin-top: 90px;
}

.operation_button {
    height: 40px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    margin-right: 100px;
    box-shadow: 1px 1px 1px rgb(0 0 0);
}

.support_link_wrapper {
    margin-top: 8px;
}

.support_link {
    font-weight: 800;
    font-size: 16px;
}

#support_docs_box {
    width: 264px;
    height: 285px;
    padding: 10px 15px;
    background-repeat: no-repeat;
}

#support_doc_box_title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
}

.nav-tabs {
    margin: 30px 0 40px 0;
    width: 802px;
    height: 36px;
}

.nav-tabs>li {
    width: 177px;
    height: 36px;
    text-align: center;
    left: 20px;
    border-right: none;
    cursor: pointer;
}

.nav-tabs>li>a {
    width: 177px;
    height: 34px;
    padding-top: 7px;
    border-radius: 0;
}

.tab_content {
    padding: 0 30px;
}

.section_container {
    margin-top: 30px;
}

.section_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.section_body {
    padding-left: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.input-wrapper .form-control {
    display: inline-block;
    width: 500px;
    height: 37px;
}

.input-wrapper button {
    height: 36px;
    font-size: 10px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
}

.form-control {
    margin-bottom: 20px;
    height: 37px;
    border: 1px solid #333;
    border-radius: 0px;
}

.table {
    margin-top: 30px;
    text-align: center;
}

th {
    text-align: center;
}

.table td>img {
    width: 41px;
    height: 25px;
    cursor: pointer;
}

.table .edit_icon, .table .delete_icon {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.table_category_description {
    width: 500px;
}

.table_item_description {
    width: 175px;
}

.table_category_image {
    width: 59px;
}

.table_category_name, .table_item_name, .table_item_category {
    width: 118px;
}

.table_item_region {
    width: 90px;
}

.table_item_img {
    width: 50px;
}

.table_item_quantity {
    width: 68px;
}

.table_edit {
    width: 75px;
}

.table .retract_format {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label {
    font-weight: normal;
    display: inline-block;
}

.input-label {
    margin-left: 5px;
}

.error_message {
    color: #9c4141;
}

.form_label {
    width: 35%
}

.invalid_message {
    color: #F00;
    text-align: right;
    display: inline-block;
}

.valid_url_message {
    color: #008000;
}

.labels_reset_btn {
    height: 37px;
    width: 60px;
    font-size: 10px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.modal-content {
    width: 500px;
    top: 65px;
}

.modal-content.wide, .modal-dialog.wide {
    width: 684px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    text-align: center;
    border-top: none;
}

.modal-dialog {
    position: relative;
    top: 10%;
}

.warning_text {
    color: #9c4141;
}

.warning_text.retract_format {
    max-width: 400px;
}

.modal_confirm_btn {
    margin-right: 100px;
    width: 97px;
}

.modal_item_title {
    font-weight: 700;
}

.modal_item_image_title {
    position: relative;
    top: -30.4px;
}

.modal_save_btn {
    margin-right: 100px;
    width: 89px;
}

.modal_cancel_btn {
    width: 90px;
}

.modal_item {
    width: 300px;
    display: inline-block;
}

.modal_select {
    width: 300px;
    padding: 8px;
}

.saving-modal-content {
    width: 360px;
    height: 160px;
    top: 65px;
}

.saving-modal-header {
    padding: 23px;
}

#saving_modal {
    top: 160px;
    /*left: 100px;*/
}

#img_in_modal {
    width: 283px;
    height: 240px;
    position: relative;
    top: 18px;
}

#img_modal {
    position: absolute;
    left: 445px;
    width: 285px;
    height: 260px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    background: rgba(47, 47, 22, 1);
    border: 1px solid #333;
}

#close_btn {
    position: absolute;
    left: 273px;
    z-index: 1;
    font-weight: 700;
    cursor: pointer;
    top: -2px;
}

.button-primary {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px rgb(0 0 0);
}

.button-secondary {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 1px 1px rgb(0 0 0);
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.button-secondary:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.save-changes-button {
    width: 145px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
}

#database_reset_confirm_modal .modal-dialog, #remove_confirm_modal .modal-dialog, #jms_configuration_details_modal .modal-dialog {
    top: 25%;
}

#remove_confirm_modal .modal-body {
    text-align: center;
}

/* GENERAL tab */
#test_connection_button {
    margin-left: 15px;
    margin-bottom: 3px;
}
/* CATEGORIES tab */
.category_image_upload_box {
    position: absolute;
    top: 102px;
    left: 349px;
    width: 300px;
}

.category_upload_error_message {
    position: relative;
    left: 15px;
    display: block;
}

.category_image_box {
    top: 39px;
}

.category_image_in_modal {
    display: inline-block;
    margin-left: 45px;
    width: 300px;
}

#image_form {
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block;
}

/* ITEMS tab */
textarea {
    width: 652px;
    height: 105px;
    resize: none;
}

.image_upload_box {
    position: absolute;
    bottom: 243px;
}

.img_box {
    position: absolute;
}

.delete_image_icon {
    cursor: pointer;
    position: absolute;
    left: 76px;
    top: -10px;
    color: #909090;
    font-size: 20px;
}

.demo_admin_img_in_modal {
    width: 85px;
    height: 55px;
}

.item_name_in_modal, .item_quantity_in_modal {
    margin-right: 45px;
}

.item_image_in_modal {
    height: 82px;
}

.item_description_in_modal {
    width: 652px;
    height: 136px;
}

.connection-label {
    font-weight: bold;
    margin: 10px 0;
}

.jms_configuration_details {
    margin-bottom: 10px;
}

.jms_configuration_details a {
    cursor: pointer;
}

.jms_configuration_details_modal_content {
    width: 560px;
}

.jms_configuration_details_table {
    margin: 0 auto;
}

.jms_configuration_details_table th{
    text-align: start;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 7px;
}

.jms_configuration_details_value {
    padding-left: 10px;
}

.rest_api_web_service, .graphql_web_service {
    display: inline-block;
}

.web_services {
    padding-bottom: 15px;
}

.graphql_web_service {
    margin-left: 40px;
}

.mq_type {
    padding-right: 40px;
    display: inline-block;
}

/* LABELS tab */