.page-content-section {
    padding-top: 20px;
}

.order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-container .home-button-container {
    text-align: left;
    margin: auto 30px;
}

.order-container .table-container {
    margin: 20px 30px 0px 30px;
    padding: 0;
}

.order-container .table-container .table-body {
    height: 458px;
}

.order_error_message {
    margin-top: 75px;
}

.order_modal {
    height: 0px;
}

.table-title {
    height: 55px;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.table-title>span {
    line-height: 55px;
}

.table {
    max-width: 990px;
    text-align: center;
    margin: auto;
}

.status {
    width: 135px;
}

.requisition_number {
    width: 153px;
}

.submission_date {
    width: 143px;
}

.approver_reply_date {
    width: 158px;
}

.approver {
    width: 100px;
}

.approver_content {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.assets {
    width: 280px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th {
    text-align: center;
    border-color: #ccc;
}

.table-bordered>tbody>tr>th>a {
    text-decoration: underline;
    cursor: pointer;
}

.order_title {
    background: #f9f9e3;
}

.order_content {
    background: #fff;
}

.label_container {
    width: 0px;
    height: 0px;
}

.new_label {
    width: 37px;
    height: 23px;
    border: none;
    border-radius: 12px;
    box-shadow: none;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    left: -10px;
    top: -2px;
    display: inline-block;
    padding-top: 4px;
    background-color: rgba(255, 153, 0, 1);
}

.assets_content {
    width: 250px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.pager {
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    display: flex;
    text-align: center;
    margin: auto;
}

.pager>span {
    margin: auto;
    width: 90px;
}

.pre_btn.active, .pre_btn:active, .next_btn.active, .next_btn:active {
    box-shadow: none;
}

.order-detail-shadow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.607843;
    z-index: 1001;
}

.order_detail_container {
    z-index: 1002;
    position: relative;
    top: -620px;
    width: 983px;
    height: 647px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.order_detail_title_container {
    padding: 5px 10px;
}

.cross_btn {
    width: 14px;
    height: 100%;
    display: flex;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
    display: flex;
    float: right;
}

.cross_btn span {
    margin: auto;
}

.order_detail_title {
    height: 25px;
    font-size: 20px;
    text-align: center;
}

.order_detail_body_container {
    margin-top: 10px;
    padding: 5px 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.info_container {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: fit-content;
    padding: 10px 20px;
}

.order_items_container {
    width: 465px;
    height: 164px;
    margin-top: 30px;
    overflow-y: scroll;
}

/*Define the scroll-bar style*/
.order_items_container::-webkit-scrollbar {
    width: 3px;
}

/*Define the scroll-bar's track style*/
.order_items_container::-webkit-scrollbar-track {
    border-radius: 3px;
}

/*Define the scroll-bar's slider style*/
.order_items_container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px;
    background-color: #333;
}

.order-content {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.order_item {
    display: flex;
    margin-bottom: 15px;
}

.order_item:last-child {
    margin-bottom: 0px;
}

.item_img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 115px;
    height: 67px;
    padding: 1px;
}

.item_img>img {
    height: 100%;
    width: 100%;
}

.order_detail_map {
    width: 445px;
    height: 266px;
}

.order_item_info_container{
    margin-left: 10px;
    margin-right: 5px;
}

.order_item_title {
    width: fit-content;
}

.order_item_description {
    width: 260PX;
    font-size: 12px;
}

.order_item_description>div>p>span {
    word-break: break-word;
}

.order_detail_assigned_campaign_summary {
    margin-top: 10px;
}

.order_detail_assigned_campaign {
    width: 450px;
    height: 23px;
    font-size: 20px;
    margin-top: 20px;
}

.order_detail_region {
    width: 450px;
    height: 23px;
    font-size: 20px;
}

.order_detail_region_summary {
    width: 300px;
    margin-top: 10px;
}

.order_detail_summary_title_and_content {
    width: 450px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.location_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}

.order_detail_map>img {
    width: 100%;
    height: 100%;
}

.order_rejected_reason {
    width: 223px;
    height: 23px;
    font-size: 20px;
    color: #33424D;
    font-weight: 700;
    margin-top: 10px !important;
}

.order_rejected_reason_content {
    width: 465px;
    height: 36px;
    overflow-y: scroll;
    white-space:normal;
    word-break:break-word;
    margin-top: 10px;
    margin-top: 10px;
}

/*Define the scroll-bar style*/
.order_rejected_reason_content::-webkit-scrollbar {
    width: 3px;
}

/* Define the scroll-bar's track style */
.order_rejected_reason_content::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Define the scroll-bar's slider style */
.order_rejected_reason_content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: #333;
}

.close_btn_field {
    width: 100%;
    height: fit-content;
    font-weight: 800;
    color: #4F3000;
    display: flex;
    margin-bottom: 15px;
}

.close_btn_field>button {
    width: 150px;
    height: 40px;
    font-size: 13px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    background-color: rgba(255, 153, 0, 1);
    font-weight: 700;
    color: #20200A;
    margin: auto;
}

.location_container>div {
    margin: auto;
}

.retract_format {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.requested_assets {
    width: 270px;
    height: 23px;
    font-size: 20px;
}

.order-content {
    line-height: normal;
}