#order_title {
	height: 55px;
	font-size: 36px;
	font-weight: 700;
	padding: 17px 0 0 41px;
}

#order_title .retract_format {
    max-width: 1140px;
}

#return_to_home {
    margin: 0;
    padding: 20px 0 0 41px;
}

#order_wizard {
    min-height: 500px;
    padding: 35px 0 0 210px;
}

.wizard_title {
	margin-top: 30px;
	font-size: 20px;
}

.wizard_title .retract_format {
    max-width: 360px;
}

#step {
    margin-top: 35px;
}

.deploy_inf {
    margin: 25px 0 0 20px;
	height: 20px;
	font-size: 14px;
}

.deploy_inf .retract_format {
    max-width: 300px;
}

.deploy_input {
    margin-left: 20px;
	width: 300px;
	height: 37px;
	color: #333333;
	border: 1px solid #333;
	font-size: 14px;
}

#location {
    width: 360px;
    display: flex;
}

#get_location {
    margin: 22px 0 0 20px;
	top: 341px;
	min-height: 40px;
}

#position_info {
    padding: 30px 0 0 14px;
    width: 190px;
    height: 19px;
    font-size: 16px;
}

.ship_info {
    display: flex;
}

#map {
    margin: 35px 0 0 25px;
	width: 446px;
	height: 326px;
}

#go_to_review, #go_to_review>button {
	width:160px;
}

#assign_to_campaign, #assign_to_campaign>button, #submit_for_approval, #submit_for_approval>button {
	width: 236px;
    text-align: center;
}

.item_img {
    top: 0;
    position: relative;
	width: 115px;
	height: 69px;
}

.item_img>img {
    top: 0;
    left: 0;
    width: 115px;
    height: 69px;
    position: absolute;
}

.item_title {
    font-size: 16px;
	width: 234px;
}

.item_title>div>span {
	width: 234px;
}

.item_quantity {
	width: 60px;
	height: 22px;
	font-size: 16px;
	text-align: center;
}

.wizard_item_description {
    width: 260px;
    font-size: 12px;
}

.order_description {
    padding-top: 17px;
    display: flex;
}

#item_info {
    padding-left: 20px;
}

.order_content {
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.order_item_number {
    margin-left: 57px;
}

#summaries {
    padding-top: 42px;
    display: flex;
}

#summary_content {
	width: 400px;
}

#region_summary {
	font-size: 20px;
    position: relative;
}

#region_summary .retract_format, #assigned_campaign_summary .retract_format {
    max-width: 376px;
}

.order_info_format {
    position: relative;
}

.order_info_format .retract_format {
    max-width: 150px;
}

.summary_title1, .summary_title2, .summary_title3 {
	font-size: 15px;
	width: 200px;
}

.order_info_content_format1, .order_info_content_format {
    width: 200px;
}

#assigned_campaign_summary {
    padding-top: 54px;
	font-size: 20px;
}

.review_info {
    padding: 15px 0 0 25px;
    display: flex;
}

#summary_map {
	width: 442px;
	height: 326px;
}

#summary_map>img{
    height: 100%;
    width: 100%;
    border: 4px solid #47481e;
}

#submit_status{
	font-size: 20px;
}

#submit_status .retract_format {
    max-width: 690px;
}

.order_wizard_wrapper {
    padding: 0;
}

.font_bold{
	font-weight: bold;
}

#map>img {
	width: 100%;
	height: 100%;
	border: 4px solid #47481e;
}

#items {
    width: 600px;
    max-height: 270px;
    overflow:auto
}

.breadcrumb {
	background-color: #f5f5f500;
	font-size: 20px;
	padding-left: 0;
}

.breadcrumb .retract_format {
    max-width: 300px;
}

.breadcrumb>.active {
	color: #333;
}

.breadcrumb>.non-active {
	color: #7772726b;
}

.breadcrumb>li+li:before {
	content: "\003E";
	color: #7772726b;
}

.wizard_btn_position {
	left: 0;
	top: 67px;
	width: 160px;
    min-height: 40px;
}

.clickable {
	cursor: pointer;
}

.wizard_btn {
    min-height: 40px;
    background-color: rgba(204, 136, 55, 1);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: 700;
    color: #20200A;
	font-size: 13px;
}

.summary_title2, .summary_title3 {
	top: 0;
}

.wizard_item_description>div>span {
	word-break: break-word;
}

#footer {
	top: 874px;
}

/*Define the scroll-bar style*/
#items::-webkit-scrollbar {
    width: 3px;
}

/*Define the scroll-bar's track style*/
#items::-webkit-scrollbar-track {
    border-radius: 3px;
}

/*Define the scroll-bar's slider style*/
#items::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 100px;
    background-color: #C2EAFB;
}